*.class

# Package Files #
*.jar
*.war
*.ear
/guiLuggage/nbproject/private/
/guiLuggage/build/
/guiLuggage/dist/

/guiLuggage/nbproject/genfiles.properties
/guiLuggage/nbproject/project.properties
/guiLuggage/nbproject/project.xml
